*[class^=bt_] {
    font-family: sans-serif;
}
.bt_container {
    width: 100%;
    margin:0 auto;
}
.bt_row {
    display: flex;
    flex-wrap: wrap;
}
.bt_row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
}
.bt_col {
    flex: 1 0 0;
}